@import "mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right ,  rgb(230, 34, 75) ,  orange , yellow, rgb(143, 255, 0));
  background-size:  102% 105vh;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Merriweather', serif;
}

// top bar active level + button to choose lvl from list

.topbar {
   height: 10vh;
      .timer {
         width: 50px;
         height: 50px;
         border: 1px solid black;
         border-radius: 50%;
         font-family: arial;
         font-size: 30px;
         font-family: Times New Roman;
      }
      .my-topbar-header{
         font-size: 2.7rem;
      }
       .change-level-button{
                 span {
                  font-size: 5vh;
               }
          }
        .my-change-level-button{
            width: 10vw;
        }
}

.level-list {
  position: absolute;
  top: 8vh;
  left: 82.5vw;
  width: 10vw;
  display: none;
  flex-wrap: wrap;
  padding-top: 5px;
  z-index: 1000;
  animation: expand  0.3s ease-in-out;
  font-family: arial;
        a{
          text-decoration: none;
          color: black;
          max-width:  100%;
              .level-button {
                  width: 40px;
                  height: 40px;
                  margin: 5px;
                  border-radius: 50%;
                  border: 0;
                  cursor: pointer;
                  font-weight: bold;
                  box-shadow: 0 0 2px black;
                  animation: 1s opacity ease;
                      &:hover {
                         transform: scale(1.1);
                      }
                }
          }

          .legend {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 2vh;
            color: black;
            font-family: 'Merriweather', serif;
                  .dot {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    margin-right: 2px;
                  }
                  .easy , .medium, .hard {
                      display: inline-flex;
                    }
                .easy {
                    .dot {
                          margin-left: 1px;
                          @include gradient-green;
                      }
                  }
                  .medium{
                      .dot {
                         @include gradient-yellow;
                      }
                  }
                  .hard {
                       .dot {
                           margin-left: 5px;
                           @include gradient-red;
                       }
                  }
          }
}

.gradient-green {
    @include gradient-green;
}
.gradient-yellow {
    @include gradient-yellow;
}
.gradient-red {
    @include gradient-red;
}

// animals-images-from mixins.scss

.hidden {
    @include hidden;
    animation: rotate-card 0.2s linear;
}

.off {
    @include off;
}

.cat {
     @include cat;
}
.cat-word {
    @include cat-word;
}
.dog {
      @include dog;
}
.dog-word{
    @include dog-word;
}
.cow{
   @include cow;
}
.cow-word{
   @include cow-word;
}
.tiger{
   @include tiger;
}
.tiger-word{
   @include tiger-word;
}
.lion{
   @include lion;
}
.lion-word{
   @include lion-word;
}
.panda{
   @include panda;
}
.panda-word{
   @include panda-word;
}
.fox{
   @include fox;
}
.fox-word{
   @include fox-word;
}
.elephant{
   @include elephant;
}
.elephant-word{
   @include elephant-word;
}
.fish{
   @include fish;
}
.fish-word{
   @include fish-word;
}
.ladybird{
   @include ladybird;
}
.ladybird-word{
   @include ladybird-word;
}
.crocodile{
   @include crocodile;
}
.crocodile-word{
   @include crocodile-word;
}
.giraffe{
   @include giraffe;
}
.giraffe-word{
   @include giraffe-word;
}
.kangaroo{
   @include kangaroo;
}
.kangaroo-word{
   @include kangaroo-word;
}
.monkey{
   @include monkey;
}
.monkey-word{
   @include monkey-word;
}
.parrot{
   @include parrot;
}
.parrot-word{
   @include parrot-word;
}
.pig{
   @include pig;
}
.pig-word{
   @include pig-word;
}
.squirrel{
   @include squirrel;
}
.squirrel-word{
   @include squirrel-word;
}
.turtle{
   @include turtle;
}
.turtle-word{
   @include turtle-word;
}

.my-container-summary{
      position: fixed;
      top: 20vh;
}

.summary-level-one , .summary-level-two, .summary-level-three,
.summary-level-four, .summary-level-five, .summary-level-six {
    display: none;
}


// #level1
.container-level-one {
      width: 85vh;
      height: 90vh;
      margin: 0 auto;
            .flash-card {
              width: 80%;
              height: 80%;
              margin: 3vh auto;
              display: flex;
              flex-wrap: wrap;
              border: 3px solid black;
              justify-content: center;
              align-items: center;
                    div {
                      width: 50%;
                      height: 50%;
                    }
                    div:nth-child(1) {
                      border-right: 2px solid $color-border-flash-card;
                      border-bottom: 2px solid $color-border-flash-card;
                    }
                    div:nth-child(2) {
                      border-bottom: 2px solid $color-border-flash-card;
                    }
                    div:nth-child(3) {
                      border-right: 2px solid $color-border-flash-card;
                    }
              }
}

// #level2
.container-level-two {
    width: 50%;
    height: 50vh;
    margin: 10vh auto;
        .flash-card {
            width: 80%;
            height: 100%;
            margin: 3vh auto;
            display: flex;
            flex-wrap: wrap;
            border: 3px solid black;
            justify-content: center;
            align-items: center;
                div {
                  width: 33.33%;
                  height: 50%;
                }
                div:nth-child(1), div:nth-child(2) {
                  border-right: 2px solid $color-border-flash-card;
                  border-bottom:  2px solid $color-border-flash-card;
                }
                div:nth-child(3) {
                  border-bottom:  2px solid $color-border-flash-card;
                }
                div:nth-child(4),  div:nth-child(5) {
                  border-right: 2px solid $color-border-flash-card;
                }
         }
}

// #level3
.container-level-three {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
        .flash-card {
          width: 80%;
          height: 100%;
          margin: 3vh auto;
          display: flex;
          flex-wrap: wrap;
          border: 3px solid black;
          justify-content: center;
          align-items: center;
              div {
                width: 25%;
                height: 33.33%;
              }
              div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(5), div:nth-child(6), div:nth-child(7)  {
                border-right: 2px solid $color-border-flash-card;
                border-bottom:  2px solid $color-border-flash-card;
              }
              div:nth-child(4), div:nth-child(8) {
                border-bottom: 2px solid $color-border-flash-card;
              }
              div:nth-child(9), div:nth-child(10), div:nth-child(11) {
                 border-right: 2px solid $color-border-flash-card;
              }
      }
}

// #level4
.container-level-four {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
        .flash-card {
            width: 50%;
            height: 95%;
            display: flex;
            flex-wrap: wrap;
            border: 3px solid black;
                  div {
                      width: 25%;
                      height: 25%;
                  }
                  div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(5), div:nth-child(6) , div:nth-child(7),
                  div:nth-child(9), div:nth-child(10), div:nth-child(11) {
                     border-right: 2px solid $color-border-flash-card;
                     border-bottom: 2px solid $color-border-flash-card;
                  }
                  div:nth-child(4), div:nth-child(8), div:nth-child(12) {
                     border-bottom: 2px solid $color-border-flash-card;
                  }
                  div:nth-child(13), div:nth-child(14), div:nth-child(15) {
                     border-right: 2px solid $color-border-flash-card;
                  }
       }
}

// #level5
.container-level-five {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
        .flash-card {
            width: 60%;
            height: 95%;
            display: flex;
            flex-wrap: wrap;
            border: 3px solid black;
                div {
                    width: 20%;
                    height: 25%;
                }
                div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(6) , div:nth-child(7),
                div:nth-child(8), div:nth-child(9), div:nth-child(11), div:nth-child(12), div:nth-child(13), div:nth-child(14) {
                   border-right: 2px solid $color-border-flash-card;
                   border-bottom: 2px solid $color-border-flash-card;
                }
                div:nth-child(5), div:nth-child(10), div:nth-child(15) {
                   border-bottom: 2px solid $color-border-flash-card;
                }
                div:nth-child(16), div:nth-child(17), div:nth-child(18), div:nth-child(19) {
                   border-right: 2px solid $color-border-flash-card;
                }
          }
}

// #level6
.container-level-six {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2vh;
       .flash-card {
           width: 45%;
           height: 95%;
           display: flex;
           flex-wrap: wrap;
           border: 3px solid black;
               div {
                   width: calc(100% /6);
                   height: calc(100% /6);
               }
                div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5) ,
                div:nth-child(7), div:nth-child(8), div:nth-child(9), div:nth-child(10), div:nth-child(11),
                div:nth-child(13), div:nth-child(14), div:nth-child(15), div:nth-child(16), div:nth-child(17) ,
                div:nth-child(19), div:nth-child(20), div:nth-child(21), div:nth-child(22) , div:nth-child(23),
                div:nth-child(25), div:nth-child(26), div:nth-child(27), div:nth-child(28), div:nth-child(29) {
                  border-right: 2px solid $color-border-flash-card;
                  border-bottom: 2px solid $color-border-flash-card;
               }
               div:nth-child(6), div:nth-child(12), div:nth-child(18), div:nth-child(24), div:nth-child(30) {
                  border-bottom: 2px solid $color-border-flash-card;
               }
               div:nth-child(31), div:nth-child(32), div:nth-child(33), div:nth-child(34), div:nth-child(35) {
                  border-right: 2px solid $color-border-flash-card;
               }
        }
}


.previous, .again, .next {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.next{
  transform: rotateY(180deg);
}

// #additional class for JS

.active-flex {
  display: flex;
}


// #media
@media (orientation: portrait) and (max-width: 767px){
      .topbar{
            .my-topbar-header{
               font-size: 2rem;
            }
      }

      .level-list {
         width: 40vw;
         left: 30vw;
         top: 10vh;
         background-color: rgb(0, 0, 0);
         padding: 15px;
         border-radius: 15px;
           a {
                .level-button {
                     width: 30px;
                     height: 30px;
                }
           }
           .legend {
               color: white;
           }
      }

          // #level1 - portrait
      .container-level-one{
          display: flex;
          width: 100%;
          max-height: 80vh;
              .flash-card {
                 margin-top: 8vh;
              }
        }

        // #level2 - portrait
        .container-level-two {
          width: 95%;
          height: 55vh;
                .flash-card {
                  width: 100%;
               }
          }

           // #level3 - portrait
          .container-level-three {
             width: 100%;
             height: 60vh;
             margin: 5vh auto 0;
                 .flash-card{
                   width: 95%;
                   height: 90%;
                 }
           }

           // #level4 - portrait
           .container-level-four {
                 .flash-card {
                    width: 95%;
                    height: 70%;
                  }
             }

              // #level5 - portrait
              .container-level-five {
                  .flash-card {
                     width: 95%;
                     height: 70%;
                   }
             }

             // #level6 - portrait
             .container-level-six {
                margin-top: -1vh;
                    .flash-card {
                          width: 95%;
                          height: 85%;
                    }
             }
}
@media (width: 320px) {
     .topbar {
         .my-topbar-header{
             font-size: 1.75rem;
         }
     }
}
@media (orientation: portrait) and (min-height: 700px) and (max-height: 750px) {
    .container-level-two {
       width: 95%;
       height: 50vh;
       margin: 10vh auto;
    }
}
@media (orientation: landscape) and  (max-width: 740px) and (max-height: 639px) {
    .container-level-two {
       width: 80%;
       height: 60vh;
       margin: 7vh auto;
    }
}
@media (orientation: landscape) and (max-width: 1024px) and (min-height: 480px) {
      .level {
          .button-level {
                top: 1.5vh;
                left: calc(95% - 15%);
                width: 15%;
               height: 8vh;
          }
       }
}

@media (min-width: 768px) and (max-width: 1250px) {
    .level-list {
        a {
            .level-button {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.game-time{
   border: 3px solid;
   padding: 10px;
   border-radius: 5px;
}

.font-size-summary{
   font-size: 2rem;
}

.my-img-summary {
   width: 30%;
   height: auto;
}

.my-img-summary-responsive {
   width: 25%;
   height: auto;
}

.my-container-summary-responsive{
   position: fixed;
   top: 15vh;
}

.img-summary-six{
  max-width: 12% !important;
}

@media(max-width: 450px) {
     .my-img-summary-responsive {
        width: 100%;
      }

      .img-sum-six{
           max-width: 25% !important;
      }
}

@keyframes rotate-card {
     0% {}
     100% { transform: rotate3d(0, 1, 0, 180deg);}
}

@keyframes opacity {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes expand {
    0% { opacity: 0;
             height: 0;}
    100% {opacity: 1;
                height: 20%;}
}
