@import "mixins.scss";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
  background: linear-gradient(to bottom right ,  rgb(230, 34, 75) ,  orange , yellow, rgb(143, 255, 0));
}

.level
{
   width: 100%;
   height: 10vh;
   position: relative;

         .active-level
         {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
         }

          .choose-level
          {
            position: absolute;
            top: 2.5vh;
            left: calc(95% - 10%);
            width: 10%;
            height: 5vh;
            border: 1px solid black;
            background-image: url('img/global/change_level_button_black.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50% 100%;
            background-color: transparent;
            cursor: pointer;

                    &:hover
                    {
                        transform: scale(1.05);
                    }
          }
}


.container
{
      width: 85vh;
      height: 90vh;
      margin: 0 auto;

            .flash-card
            {
              width: 80%;
              height: 80%;
              margin: 3vh auto;
              display: flex;
              flex-wrap: wrap;
              border: 3px solid black;
              justify-content: center;
              align-items: center;

                    div
                    {
                      width: 50%;
                      height: 50%;
                    }

                    div:nth-child(1)
                    {
                      border-right: 2px solid $color-border-flash-card;
                      border-bottom: 2px solid $color-border-flash-card;
                    }

                    div:nth-child(2)
                    {
                      border-bottom: 2px solid $color-border-flash-card;
                    }

                    div:nth-child(3)
                    {
                      border-right: 2px solid $color-border-flash-card;
                    }
            }
}

@media (orientation: portrait)
{
  .level
  {
         .choose-level
         {
                    width: 20%;
                    left: calc(95% - 20%);
         }

         .active-level
         {
           font-size: 40px;
         }
  }

       .container
       {
             display: flex;
             width: 100%;
             max-height: 80vh;

                  .flash-card
                  {
                      margin-top: 3vh;
                  }
       }
}

footer
{
  width: 100%;
  position: absolute;
  bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hidden
{
    @include hidden;
}

.off
{
    @include off;
}

.cat
{
     @include cat;
}

.cat-word
{
    @include cat-word;
}

.dog
{
      @include dog;
}

.dog-word
{
    @include dog-word;
}

.summary
{
   position: absolute;
   top: -5%;
   left:  7.5%;
   width: 85%;
   height: 80%;
   z-index: 100;
   display: none;
   animation: next-level 2s linear;
   flex-direction: column;
  align-items: center;

            .photos-section
            {
                    width: 300px;
                    height: 240px;
                    position: absolute;
                    bottom: 25vh;
                    display: flex;
                    flex-direction: column;
                    margin:  0 auto 40px;


                    span
                    {
                      width: 300px;
                      height: 240px;
                      font-size: 40px;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                          img
                          {
                             width: 100px;
                             height: 100px;
                          }
                    }
              }

            .buttons
            {
              width: 300px;
              height: 100px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              position: absolute;
              bottom: 10vh;

                    button
                    {
                          border-radius: 50%;
                          border: 0;
                          width: 100px;
                          height: 100px;
                          margin: 0 5px;
                          cursor: pointer;
                          background-color: transparent;
                    }

                    button:nth-child(3)
                    {
                        transform: rotateY(180deg);
                    }
            }
}

.window-levels-on
{
  position: absolute;
  top: 8vh;
  left: calc(95% - 10%);
  width: 10%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  z-index: 1000;
  border: 1px solid black;

            &:hover
            {
                transform: scale(1.04);
            }

            button
            {
                width: 50px;
                height: 50px;
                margin: 0 5px;
                border-radius: 50%;
                border: 0;
                cursor: pointer;
                background: linear-gradient(to bottom right, green , lightgreen);
                font-weight: bold;
                font-size: 30px;
            }
}

.window-levels-off
{
  display: none;
}



@keyframes next-level
{
  0% { opacity: 0;}
  100% { opacity: 1;}
}
